* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #e4d4ea; /*lavender*/
  background-color: #df504c; /*poppy*/
  font-family: 'nimbus_monoregular', monospace;', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

p {
  text-align: left;
  padding: 20px 0 20px 10px;
}

.page{
  width: 800px;
  margin: 0 auto;
}

.footer {
  padding: 3rem 0;
}

button{
 background-color: #d457a3; /* white */
 border: none;
 color: #e9c968;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: center;
 font-size: 16px;
 border-radius: 8px;
}
/* button colours
e9c968 lemon
d457a3 magneta
*/
