* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #e8c9c8;
  background-color: #345ca5;
  font-family: 'nimbus_monoregular', monospace;', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

p {
  text-align: left;
  padding: 20px 0 20px 10px;
}

.page{
  width: 800px;
  margin: 0 auto;

}
<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

strong{
  background-color: #F7CB15;
}


/*Fab academy website colour schemes: 
#eae2d5 light beige
#d3cbbe darker beige
#ff5000 orange
#00955d green
#1b3f93 blue
#141311 black/*

/*original colours
bg ##738290
font:#FFFCF7
strong: #F7CB15*/

/*cobalt: #345ca5
pale pink: #e8c9c8*/

.footer {
  padding: 3rem 0;
}
